<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Database1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NewPOS.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="NewPOS.Properties.Settings.C__USERS_PUBLIC_DOCUMENTS_NEWPOS_BIN_DEBUG_DATABASE1_MDFConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="NewPOS.Properties.Settings.C__USERS_G4_DOCUMENTS_VISUAL_STUDIO_2015_PROJECTS_NEWPOS_BIN_DEBUG_DATABASE1_MDFConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="NewPOS.Properties.Settings.C__USERS_G4_DOCUMENTS_VISUAL_STUDIO_2015_PROJECTS_NEWPOS_BIN_DEBUG_DATABASE1_MDFConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <NewPOS.Properties.Settings>
      <setting name="loginuserapi" serializeAs="String">
        <value>http://www.swypepay.co.ke/sandbox/frontend/web/index.php?r=user-profile/login-user</value>
      </setting>
      <setting name="checkcardbalancewopassword" serializeAs="String">
        <value>http://www.swypepay.co.ke/sandbox/frontend/web/index.php?r=user-profile/check-card-balance-without-password</value>
      </setting>
      <setting name="checkoutwopassword" serializeAs="String">
        <value>http://www.swypepay.co.ke/sandbox/frontend/web/index.php?r=user-profile/check-out-without-password</value>
      </setting>
      <setting name="cardcheckout" serializeAs="String">
        <value>http://www.swypepay.co.ke/sandbox/frontend/web/index.php?r=user-profile/card-check-out</value>
      </setting>
      <setting name="loginuserapiLive" serializeAs="String">
        <value>http://www.swypepay.co.ke/frontend/web/index.php?r=user-profile/login-user</value>
      </setting>
      <setting name="checkcardbalancewopasswordLive" serializeAs="String">
        <value>http://www.swypepay.co.ke/frontend/web/index.php?r=user-profile/check-card-balance-without-password</value>
      </setting>
      <setting name="checkoutwopasswordLive" serializeAs="String">
        <value>http://www.swypepay.co.ke/frontend/web/index.php?r=user-profile/check-out-without-password</value>
      </setting>
      <setting name="cardcheckoutLive" serializeAs="String">
        <value>http://www.swypepay.co.ke/frontend/web/index.php?r=user-profile/card-check-out</value>
      </setting>
      <setting name="VoucherLive" serializeAs="String">
        <value>http://www.swypepay.co.ke/frontend/web/index.php?r=api/consumecredits</value>
      </setting>
      <setting name="Voucher" serializeAs="String">
        <value>http://www.swypepay.co.ke/sandbox/frontend/web/index.php?r=api/consumecredits</value>
      </setting>
    </NewPOS.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <NewPOS.Properties.Settings>
      <setting name="Live" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="Alerts" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="Printer" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="LCD1_1" serializeAs="String">
        <value>Welcome to Swype</value>
      </setting>
      <setting name="LCD1_2" serializeAs="String">
        <value>Bal: </value>
      </setting>
      <setting name="LCD2_1" serializeAs="String">
        <value>Processing...</value>
      </setting>
      <setting name="LCD2_2" serializeAs="String">
        <value>Your Total Bill</value>
      </setting>
      <setting name="LCD3_1" serializeAs="String">
        <value>Please tap your</value>
      </setting>
      <setting name="LCD3_2" serializeAs="String">
        <value> Card/Bracelet</value>
      </setting>
    </NewPOS.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.0" newVersion="0.86.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>